extends layout

block content
  .clearfix
    #filter
      h2.title Visualizing Government Spending
      a.active(href='#', data-area='pensions') Pensions
      a(href='#', data-area='education') Education
      a(href='#', data-area='healthcare') Health Care
  
  #container
  #instruct Hold Right-Click: Rotate   |   Hold Left-Click: Pan   |   Mouse Wheel: Zoom   |   R: Reset View