/* CSS Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix { display: block;}
 
* html .clearfix { height: 1%;}

#container {
	height: 100%;
	width: 100%;
}

#filter {
	padding: 0;
	/*box-shadow: inset 0 0px 0px 1px rgba(255,255,255,0.5);*/
	border-top: 1px solid rgb(25, 31, 37);
	border-bottom: 1px solid rgb(25, 31, 37);

	background: #34495e;
}

#filter .title {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	float:left;
	padding: 0 20px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}

#filter a {
	color: white;
	display: inline-block;
	padding: 20px 15px;
	text-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
	text-decoration: none;

	font-size: 16px;
	border: none;
	padding: 10px;
	border-radius: 4px;
	background: rgb(42, 58, 75);
	margin: 10px 10px 10px 0;
}

#filter a:hover, #filter a.active {
	background: rgba(255,255,255,0.1);
	cursor: pointer;
	transition: .25s;
	border-color: #555;
}

#filter a:active {
	/*box-shadow: inset 0 0px 8px -1px rgba(0,0,0,0.6);*/
}